
dl/*
!dl/.keep

# Ignore build directories
???????*/*

# Keep device specific files
???????*/builds
???????*/builds/*
!???????*/builds/.keep
!???????*/files
!???????*/scripts
!???????*/patches
!???????*/make*.sh
